
viewport-width = 100%

@import "stylus-platonic/dev/dev"
@import "stylus-platonic"

.platonic-viewport

    section.scene

        div.ui-component
            &.grid
                grid()

        div.mesh

            &[data-mesh-type="octahedron"]
                octahedron(200px, translate-x: -150px, mesh-id: 0)

            &[data-mesh-type="tetrahedron"]
                tetrahedron(200px, translate-x: 150px, color: red, mesh-id: 1)