
viewport-width = 100%

@import "stylus-platonic/dev/dev"
@import "stylus-platonic"

.platonic-viewport

    .scene

        .ui-component
            &.grid
                grid()

        .mesh

            &[data-mesh-type="octahedron"]
                octahedron(translate-x: -150px, mesh-id: 0)

            &[data-mesh-type="tetrahedron"]
                tetrahedron(translate-x: 150px, color: red, mesh-id: 1)