
viewport-width = 100%

@import "stylus-platonic/dev/dev"
@import "stylus-platonic"

.platonic-viewport

    .scene

        .ui-component.grid
            grid()

        .mesh

            &[data-mesh-id="0"]
                .face[data-face-id="0"]
                    quad(translate-x: -50px)

            &[data-mesh-id="1"]
                .face[data-face-id="0"]
                    triangle(translate-x: 50px, color: red)
