
viewport-width = 100%

@import "stylus-platonic/dev/dev"
@import "stylus-platonic"

.platonic-viewport

    section.scene

        div.ui-component
            &.grid
                grid()

        div.mesh

            &[data-mesh-type="quad"]
                div.face
                    quad(width: 80px, height: 80px, translate-x: -50px, mesh-id: 0)

            &[data-mesh-type="triangle"]
                div.face
                    triangle(side-length: 80px, translate-x: 50px, color: red, mesh-id: 1)
