
@import "stylus-platonic/dev/dev"
@import "stylus-platonic"

.platonic-viewport

    .scene

        .ui-component.grid
            grid(component-id: 0)

        .mesh

            &.plane
                plane(translate-x: 300px, color: red, mesh-id: 0)

            &.cube
                cube(translate-x: -300px, color: orange, mesh-id: 1)

            &.pyramid
                pyramid(color: white, mesh-id: 2)