
viewport-width = 100%

@import "stylus-platonic/dev/dev"
@import "stylus-platonic"

.platonic-viewport

    section.scene

        div.ui-component
            &.grid
                grid(component-id: 0)

            &.display-axis
                display-axis(component-id: 1)

        div.mesh

            // &[data-mesh-type="plane"]
            //     plane(100px, 100px, 300px, color: red, mesh-id: 0)

            // &[data-mesh-type="cube"]
            //     cube(translate-x: -300px, color: orange, mesh-id: 1)

            // &[data-mesh-type="pyramid"]
            //     pyramid(200px, color: blue, mesh-id: 2)

            &[data-mesh-type="sphere"]
                sphere(color: blue, mesh-id: 3)

