/* 
 *   Document    : math.styl
 *   Author      : DPR
 *   Description : Math constants and functions.   
 */


// Math constants

TWO_PI  = PI * 2
HALF_PI = PI / 2


// Math functions

radians(degrees){ degrees * (PI / 180) }
degrees(radians){ radians * (180 / PI) } 
asin(n){ math(n, 'asin') }
acos(n){ math(n, 'acos') }
sqrt(n){ math(n, 'sqrt') }
floor(n){ math(n, 'floor') }
random(n){ math(n, 'random') }
pow(x, y){ return x ** y }

random-range(min, max)
    min + (random(1) * (max - min))

distance(x1, y1, z1, x2, y2, z2)
    sqrt((x2 - x1) ** 2 + (y2 - y1) ** 2)

distance3d(x1, y1, z1, x2, y2, z2)
    sqrt((x2 - x1) ** 2 + (y2 - y1) ** 2 + (z2 - z1) ** 2)

triangle-height(side-length, angle)
    side-length * sin(radians(angle))