extends includes/layout


block css

    link(rel="stylesheet", href="css/fractals.css")


block scene

    include includes/grid
    include includes/display-axis

    .group.menger-sponge(data-group-id="0", data-camera-transform="1")
        - var iterations = 1
        - var cubes = Math.pow(20, iterations)
        - for (var i = 0; i < cubes; i++)
            .mesh(data-mesh-type="cube", data-mesh-id="#{i}")
                - for (var j = 0; j < 6; j++)
                    .face(data-face-id="#{j}")
