extends includes/layout


block css

    link(rel="stylesheet", href="./css/fractals.css")


block scene

    include includes/grid
    include includes/display-axis

    div.group.menger-sponge(data-group-id="0", data-transform)
        - var iterations = 1
        - var cubes = Math.pow(20, iterations)
        - for (var i = 0; i < cubes; i++) {
            div.mesh(data-mesh-type="cube", data-mesh-id="#{i}")
                each index in [0, 1, 2, 3, 4, 5]
                    div.face(data-face-id="#{index}")
        - }
