extends includes/layout


block css

    link(rel="stylesheet", href="css/platonic-solids.css")


block scene

    include includes/grid

    .group(data-group-id="0", data-transform)

        //- Octahedron

        .mesh(data-mesh-type="octahedron", data-mesh-id="0", data-light="1")
            each index in [0, 1, 2, 3, 4, 5, 6, 7]
                .face(data-face-id="#{index}")


        //- Tetrahedron

        .mesh(data-mesh-type="tetrahedron", data-mesh-id="1", data-light="1")
            each index in [0, 1, 2, 3]
                .face(data-face-id="#{index}")