extends includes/layout


block css

    link(rel="stylesheet", href="css/platonic-solids.css")


block scene

    include includes/grid

    .group(data-group-id="0", data-camera-transform="1")

        //- Octahedron

        .mesh.octahedron(data-mesh-id="0", data-light="1")
            - for (var i = 0; i < 8; i++)
                .face(data-face-id="#{i}")


        //- Tetrahedron

        .mesh.tetrahedron(data-mesh-id="1", data-light="1")
            - for (var i = 0; i < 4; i++)
                .face(data-face-id="#{i}")