extends includes/layout


block css

    link(rel="stylesheet", href="css/polygons.css")


block scene

    include includes/grid

    //- Quad

    .mesh(data-mesh-id="0", data-light="1", data-camera-transform="1")
        .face(data-face-id="0")

    //- Triangle

    .mesh(data-mesh-id="1", data-light="1", data-camera-transform="1")
        .face(data-face-id="0")   