extends includes/layout


block css

    link(rel="stylesheet", href="css/primitives.css")


block scene

    include includes/grid
    include includes/display-axis

    .group(data-group-id="0", data-transform)

        //- Plane

        .mesh(data-mesh-type="plane", data-mesh-id="0", data-light="1")
            .face(data-face-id="0")

        //- Cube

        .mesh(data-mesh-type="cube", data-mesh-id="1", data-light="1")
            each index in [0, 1, 2, 3, 4, 5]
                .face(data-face-id="#{index}")

        //- Pyramid

        .mesh(data-mesh-type="pyramid", data-mesh-id="2", data-light="1")
            each index in [0, 1, 2, 3, 4]
                .face(data-face-id="#{index}")
