!!! 5
html(lang="en")

    head

        title Platonic project

        block css

    body

        .platonic-viewport

            .scene

                block scene

        block extra

        a.dpr(href="http://davidpaulrosser.co.uk/", title="DPR")

        block js

            script(src="js/lib/jquery-2.0.2.min.js")
            script(src="js/lib/stats.min.js")
            script(src="js/lib/photon.js")
            script(src="js/lib/dat.gui.min.js")
            script(src="js/lib/rAF.js")
            script(src="js/camera.js")
            script(src="js/scene.js")

