!!! 5
html(lang="en")

head

    title Stylus Platonic

    block css

        link(rel="stylesheet", href="css/global.css")

body

    .platonic-viewport

        .scene

            block scene
    

    block js

        script(src="js/lib/jquery-1.8.3.min.js")
        script(src="js/lib/stats.min.js")
        script(src="js/lib/photon.js")
        script(src="js/lib/dat.gui.min.js")
        script(src="js/lib/rAF.js")

