/*
 *   Document    : index.styl
 *   Author      : DPR
 *   Description : Load all Platonic's modules.
 */


// Settings
@import "core/config"


// Dependencies 
@import "nib"


// Utilities
@import "utils/index"
@import "utils/math"
@import "utils/vendor"
@import "utils/positioning"
@import "utils/svg"


// Core
@import "core/scene-objects"
@import "core/viewport"


// Geometry
@import "geometry/polygons"
@import "geometry/primitives"
@import "geometry/platonic-solids"
@import "geometry/fractals"


// Components
@import "components/user-interface"