
@import "stylus-platonic/dev/dev"
@import "stylus-platonic"

.platonic-viewport

    .scene

        .ui-component.grid
            grid()

        .mesh

            &.particles

                for i in 0...10

                    &[data-mesh-id={'"%s"' % i}]

                        for j in 0...10

                            min = -500px
                            max = 500px

                            x = unit(random-range(min, max), px)
                            y = unit(random-range(min, max), px)
                            z = unit(random-range(min, max), px)
                           
                            particle(particle-size, x, y, z, particle-id: j)

        