
@import "stylus-platonic/dev/dev"
@import "stylus-platonic"

.platonic-viewport

    .scene

        .ui-component
            &.grid
                grid(component-id: 0)

            &.display-axis
                display-axis(component-id: 1)