
material-color = lighten(black, 30%)

@import 'nib'
@import 'stylus-platonic'
@import 'global'

global-reset()

@keyframes opacity_glitch
	0%
		opacity : .4
	36%
		opacity : 0.6
	56%
		opacity : 0.9
	100%
		opacity : .3

glitch-animation(duration = 1s, delay = 0s)
	animation-name            : opacity_glitch
	animation-duration        : duration
	animation-delay           : delay
	animation-iteration-count : 1
	animation-timing-function : ease

face-glitch(faces, max-duration, max-delay)

	for i in 0 ... faces
		
		index = floor(random-range(0, faces))
		
		.face[data-face-id={'"%s"' % index}]

			duration = random-range(0, max-duration)
			duration = '%ss' % duration 

			delay = random-range(0, max-delay)
			delay = '%ss' % delay 

			glitch-animation(duration, delay)


fade-to(alpha, duration, delay = 0)
	opacity    : alpha
	transition : opacity duration ease delay

.platonic-viewport 

	.scene

		.group

			&#icosahedron

				opacity : 0

				&.in-1
					fade-to(1, 1.6s, .5s)

				&.glitch-1
					face-glitch(20, .9, .7)

				&.out-1
					fade-to(0, 2.4s)

				&.in-2
					fade-to(1, .4s)

				&.glitch-2
					face-glitch(20, .9, .7)

			&#dodecahedron

				opacity : 0

				&.in-1
					fade-to(1, 2.1s)

				&.glitch-1
					face-glitch(12, .9, .7)

				&.out-1
					fade-to(0, 2.1s)

				&.in-2
					fade-to(1, .3s)

				&.glitch-2
					face-glitch(12, .9, .7)

			&#hexahedron
				
				opacity : 0

				&.in-1
					fade-to(1, 1.8s)

				&.out-1
					fade-to(0, 1s)

				&.in-2
					fade-to(1, .5s)

				&.glitch-2
					face-glitch(6, .9, .7)

			&#octahedron
				
				opacity : 0

				&.in-1
					fade-to(1, 1.5s)
					face-glitch(8, .9, .7)

				&.out-1
					fade-to(0, 1s)

				&.in-2
					fade-to(1, .3s)

				&.glitch-2
					face-glitch(8, .9, .7)

			&#tetrahedron
				
				opacity : 0

				&.in-1
					fade-to(1, 3s)

				&.glitch-1
					face-glitch(4, .9, .7)
			
		.mesh

			&.dodecahedron

				_color = lighten(black, 30%)

				dodecahedron(300px, color: _color, mesh-id: 0)

				spin(30s)

				.face
					opacity: .35

			&.cube
				_color = lighten(black, 20%)
				_size  = 350px

				cube(_size, _size, _size, color: _color, mesh-id: 1)

				spin(25s)

				.face
					opacity: .2

			&.tetrahedron

				_color = lighten(black, 30%)

				tetrahedron(300px, color: _color, mesh-id: 2)

				spin(22s)

				.face
					opacity: .35

			&.octahedron

				_color = lighten(black, 50%)

				octahedron(500px, color: _color, mesh-id: 3)

				spin(20s)

				.face
					opacity: .2

			&.icosahedron

				_color = lighten(black, 50%)

				icosahedron(150px, translate-x: 0, color: _color, mesh-id: 4)

				spin(20s)

				.face
					opacity: .2
