
material-color = lighten(black, 30%)

@import 'nib'
@import 'stylus-platonic'
@import 'stylus-platonic/extras/fractals'
@import 'global'

.platonic-viewport 

	.scene

		.ui-component
			&.grid
				grid(component-id: 0)

			&.display-axis
				display-axis(component-id: 1)


		.mesh

			&.particles

				&[data-mesh-id="0"]

					x = 0
					y = 0
					z = 0

					particle(particle-size, x, y, z, instance: true, particle-id: 0)