
material-color = lighten(black, 30%)

@import 'nib'
@import 'stylus-platonic'
@import 'stylus-platonic/extras/fractals'
@import 'global'

global-reset()

.platonic-viewport .scene

	.group.sierpinski-sponge
		
		sierpinksi-sponge(iterations: 1, group-id: 0)
		
		spin()