
/*
 * Generates an particle
 *
 * @param radius
 * @param translate-x
 * @param translate-y
 * @param translate-z
 * @param rotate-x
 * @param rotate-y
 * @param rotate-z
 * @param color
 * @param particle-id
 * @api   public
 */

particle(radius = particle-size, translate-x = 0, translate-y = 0, translate-z = 0, rotate-x = 0deg, rotate-y = 0deg, rotate-z = 0deg, color = particle-color, particle-id = 0)
                    
    .particle[data-particle-id={'"%s"' % particle-id}]

        set-transform(translate-x, translate-y, translate-z, rotate-x, rotate-y, rotate-z)
        
        transform-style  : preserve-3d
        center(particle-size, particle-size)

        &
        &:before
        &:after

            border-radius(50%)

            background-color : color
            display          : block
            position         : absolute
            width            : radius
            height           : radius

        &:before
            content : ''
            transform(rotateY(90deg))

        &:after
            content : ''
            transform(rotateX(90deg))