
/*
 * Generates a plane
 *
 * @param width
 * @param height
 * @param translate-x
 * @param translate-y
 * @param translate-z
 * @param rotate-x
 * @param rotate-y
 * @param rotate-z
 * @param color
 * @param mesh-id
 * @api   public
 */

plane(width = 50px, height = 50px, translate-x = 0, translate-y = 0, translate-z = 0, rotate-x = 90deg, rotate-y = 0deg, rotate-z = 0deg, color = material-color, mesh-id = 0)
    &[data-mesh-id={'"%s"' % mesh-id}]
        set-transform(translate-x, translate-y, translate-z, rotate-x, rotate-y, rotate-z)
        .face
            rectangle(width, height, color: color)
            center(width, height)


/*
 * Generates a cube
 *
 * @param width
 * @param height
 * @param depth
 * @param translate-x
 * @param translate-y
 * @param translate-z
 * @param rotate-x
 * @param rotate-y
 * @param rotate-z
 * @param color
 * @param instance
 * @param mesh-id
 * @api   public
 */

cube(width = 50px, height = width, depth = width, translate-x = 0, translate-y = 0, translate-z = 0, rotate-x = 0deg, rotate-y = 0deg, rotate-z = 0deg, color = material-color, instance = false, mesh-id = 0)
        
    half_width  = width / 2
    half_height = height / 2
    half_depth  = depth / 2

    // Set the initial tranform for the instance

    &[data-mesh-id={'"%s"' % mesh-id}]
        set-transform(translate-x, translate-y, translate-z, rotate-x, rotate-y, rotate-z)

    mesh = '[data-mesh-id="%s"]' % mesh-id
    mesh = '' if instance is true and mesh-id is 0

    return if instance is true and mesh-id > 0

    &{unquote(mesh)}
        
        .face
            
            // Top
            &[data-face-id="0"]
                rectangle(width, depth, translate-x, translate-y, translate-z, rotate-x, rotate-y, rotate-z, color)
                transform : rotateX(90deg) translateZ(half_height)
            
            // Back
            &[data-face-id="1"]
                rectangle(width, height, translate-x, translate-y, translate-z, rotate-x, rotate-y, rotate-z, color)
                transform : translateZ(-(half_depth))
            
            // Bottom
            &[data-face-id="2"]
                rectangle(width, depth, translate-x, translate-y, translate-z, rotate-x, rotate-y, rotate-z, color)
                transform : rotateX(-90deg) translateZ(half_height)

            // Front
            &[data-face-id="3"]
                rectangle(width, height, translate-x, translate-y, translate-z, rotate-x, rotate-y, rotate-z, color)
                transform : translateZ(half_depth)
            
            // Left
            &[data-face-id="4"]
                rectangle(depth, height, translate-x, translate-y, translate-z, rotate-x, rotate-y, rotate-z, color)
                transform : rotateY(90deg) translateZ(-(half_width))

            // // Right
            &[data-face-id="5"]
                rectangle(depth, height, translate-x, translate-y, translate-z, rotate-x, rotate-y, rotate-z, color)
                transform : rotateY(90deg) translateZ(half_width)


/*
 * Generates a 4 sided pyramid
 *
 * @param radius
 * @param translate-x
 * @param translate-y
 * @param translate-z
 * @param rotate-x
 * @param rotate-y
 * @param rotate-z
 * @param color
 * @param mesh-id
 * @api   public
 */
 
pyramid(radius = 200px, translate-x = 0, translate-y = 0, translate-z = 0, rotate-x = 0deg, rotate-y = 0deg, rotate-z = 0deg, color = material-color, mesh-id = 0) 
    
    radius           = unit(radius, '')
    edge_length      = unit(floor(sqrt((radius * radius) / 2)), px)
    half_edge_length = edge_length / 2
    triangle_height  = triangle-height(edge_length, 60)
    face_rotation    = unit(90 - (degrees(acos(sqrt(3) / 3))), deg)

    &[data-mesh-id={'"%s"' % mesh-id}]

        set-transform(translate-x, translate-y, translate-z, rotate-x, rotate-y, rotate-z)
        
        .face
            &[data-face-id="1"],
            &[data-face-id="2"],
            &[data-face-id="3"],
            &[data-face-id="4"]
                triangle(edge_length, 60, color: color)
                transform-origin(50% 100%)
            
            // Bottom
            &[data-face-id="0"]
                rectangle(edge_length, edge_length, color: color)
                transform : translateY(triangle_height/2) rotateX(90deg)
            
            // Back
            &[data-face-id="1"]
                transform : translate3d(0, 0, half_edge_length) rotateX(face_rotation)
            
            // Front
            &[data-face-id="2"]
                transform : translate3d(half_edge_length, 0, 0) rotateY(90deg) rotateX(face_rotation)
            
            // Left
            &[data-face-id="3"]
                transform : translate3d(-(half_edge_length), 0, 0) rotateY(90deg) rotateX(-(face_rotation))
            
            // Right
            &[data-face-id="4"]
                transform : translate3d(0, 0, -(half_edge_length)) rotateX(-(face_rotation))
            
