/*
 *   Document    : user-interface.styl
 *   Author      : DPR
 *   Description : User interface components.      
 */



/*
 * Generates a grid component
 *
 * @param width
 * @param height
 * @param tile
 * @param wire-color
 * @param wire-width
 * @param translate-x
 * @param translate-y
 * @param translate-z
 * @param rotate-x
 * @param rotate-y
 * @param rotate-z
 * @param component-id
 * @api public
 */

grid(width = grid-width, height = grid-height, tile = grid-tile, wire-color = grid-wire-color, wire-width = grid-wire-width, translate-x = 0, translate-y = 0, translate-z = 0, rotate-x = 0deg, rotate-y = 0deg, rotate-z = 0deg, component-id = 0)
    &[data-component-id={'"%s"' % component-id}]
        set-transform(translate-x, translate-y, translate-z, rotate-x, rotate-y, rotate-z)
        div.grid
            quad(width, height, rotate-x: 90deg, color: transparent)
            background: url(svg-data-uri(tile, tile, svg-rectangle(tile, tile, wire-color, wire-width, transparent)))


/*
 * Generates a display axis indicator
 * @param translate-x
 * @param translate-y
 * @param translate-z
 * @param rotate-x
 * @param rotate-y
 * @param rotate-z
 * @param component-id
 * @api public
 */

display-axis(translate-x = 0, translate-y = 0, translate-z = 0, rotate-x = 0deg, rotate-y = 0deg, rotate-z = 0deg, component-id = 0)
    &[data-component-id={'"%s"' % component-id}]
        set-transform(translate-x, translate-y, translate-z, rotate-x, rotate-y, rotate-z)
        div.axis

            offset = (display-axis-line-height / 2) - (display-axis-line-width / 2)

            transform-style  : preserve-3d

            &
            &:before
                display          : block
                position         : absolute
                width            : display-axis-line-width
                height           : display-axis-line-height

            &.x

                transform(rotateX(90deg) rotateZ(90deg) translateZ(offset) translateY(-(offset)))

                &
                &:before
                    background-color : red

                &:before
                    content : ''
                    transform(rotateY(90deg))

            &.y

                transform(translateY(-(display-axis-line-height)))

                &
                &:before
                    background-color : green

                &:before
                    content : ''
                    transform(rotateY(90deg))

            &.z

                transform(rotateX(90deg) translateY(offset) translateZ(offset))
         
                &
                &:before
                    background-color : blue

                &:before
                    content : ''
                    transform(rotateY(90deg))

    
    