extends includes/layout


block css

    link(rel="stylesheet", href="css/fractals.css")


block scene

    .group.sierpinski-sponge(data-group-id="0", data-camera-transform="1", data-light="0")
        - var iterations = 2
        - var cubes = Math.pow(20, iterations)
        - for (var i = 0; i < cubes; i++)
            .mesh(data-mesh-type="cube", data-mesh-id="#{i}")
                - for (var j = 0; j < 6; j++)
                    .face(data-face-id="#{j}")
