extends includes/layout

block append css

    link(rel="stylesheet", href="css/index.css")

block append js
    
block scene

    //- Triangles
    - for(i = 0; i < 50; i++)
        - id = i
        .mesh(data-mesh-id="#{i}", data-light="1", data-camera-transform)
            .face(data-type="triangle", data-face-id="0")


    //- Cubes
    
    .group(data-group-id="0", data-camera-transform)
        - for(i = 0; i < 10; i++)
            - id = 50 + i
            .mesh(data-mesh-type="cube", data-mesh-id="#{id}", data-light="1")
                each index in [0, 1, 2, 3, 4, 5]
                    .face(data-face-id="#{index}")