
// Viewport

viewport-perspective ?= 1000px
viewport-width       ?= 100%
viewport-height      ?= 600px

viewport-background-color ?= #575757
viewport-gradient-color1  ?= #575757
viewport-gradient-color2  ?= #272727
viewport-gradient-type    ?= 'radial'


// User Interface

grid-width      ?= 800px
grid-height     ?= 800px
grid-tile-size  ?= 10px
grid-wire-color ?= white
grid-wire-width ?= 0.5

display-axis-line-width  ?= 2px
display-axis-line-height ?= 50px


// Mesh

face-backface-visibility ?= visible


// Materials

material-color      ?= white
material-encode-svg ?= true


// Particle

particle-color ?= white
particle-size  ?= 2px


// Vendor support

vendor-prefixes = webkit