/*
 *   Document    : settings.styl
 *   Author      : DPR
 *   Description : Configuration settings.
 */


// Transform

scale-x ?= 1
scale-y ?= 1
scale-z ?= 1

translate-x ?= 0
translate-y ?= 0
translate-z ?= 0

rotate-x ?= 90deg
rotate-y ?= 0
rotate-z ?= 0


// Viewport

viewport-perspective ?= 1000px
viewport-width       ?= 1000px
viewport-height      ?= 600px

viewport-background-color ?= #575757
viewport-gradient1-color  ?= #575757
viewport-gradient2-color  ?= #272727


// User Interface

grid-width      ?= 800px
grid-height     ?= 800px
grid-tile       ?= 10px
grid-wire-color ?= white
grid-wire-width ?= 0.5

display-axis-line-width  ?= 2px
display-axis-line-height ?= 50px


// Mesh

face-backface-visibility ?= visible


// Materials

material-color ?= white


// Point

point-color ?= yellow
point-size  ?= 10px


// Vendor support

vendor-prefixes = webkit