
/*
 * Generates a grid component
 * @param width
 * @param height
 * @param tile-size
 * @param wire-color
 * @param wire-width
 * @param translate-x
 * @param translate-y
 * @param translate-z
 * @param rotate-x
 * @param rotate-y
 * @param rotate-z
 * @param component-id
 * @api   public
 */

grid(width = grid-width, height = grid-height, tile-size = grid-tile-size, wire-color = grid-wire-color, wire-width = grid-wire-width, translate-x = 0, translate-y = 0, translate-z = 0, rotate-x = 0deg, rotate-y = 0deg, rotate-z = 0deg, component-id = 0)
    &[data-component-id={'"%s"' % component-id}]
        set-transform(translate-x, translate-y, translate-z, rotate-x, rotate-y, rotate-z)
        .grid
            rectangle(width, height, rotate-x: 90deg, color: transparent)
            background: url(svg-data-uri(tile-size, tile-size, svg-rectangle(tile-size, tile-size, wire-color, wire-width, transparent)))


/*
 * Generates a display axis indicator
 * @param axis-line-width
 * @param axis-line-height
 * @param translate-x
 * @param translate-y
 * @param translate-z
 * @param rotate-x
 * @param rotate-y
 * @param rotate-z
 * @param component-id
 * @api   public
 */

display-axis(axis-line-width = display-axis-line-width, axis-line-height = display-axis-line-height, translate-x = 0, translate-y = 0, translate-z = 0, rotate-x = 0deg, rotate-y = 0deg, rotate-z = 0deg, component-id = 0)
    &[data-component-id={'"%s"' % component-id}]
        
        offset = (axis-line-height / 2) - (axis-line-width / 2)

        set-transform(translate-x, translate-y, translate-z, rotate-x, rotate-y, rotate-z)
        
        .mesh.line

            &.x
                line(axis-line-height, axis-line-width, color: red, mesh-id: 0)
                transform : rotateX(90deg) rotateZ(90deg) translateZ(offset) translateY(-(offset))

            &.y
                line(axis-line-height, axis-line-width, translate-y: -(axis-line-height), color: green, mesh-id: 1)

            &.z
                line(axis-line-height, axis-line-width, color: blue, mesh-id: 2)
                transform : rotateX(90deg) translateY(offset) translateZ(offset)