
@import "stylus-platonic/dev/dev"
@import "stylus-platonic"
@import "stylus-platonic/extras/fractals"

.platonic-viewport

	.scene

		.group.sierpinski-sponge
			sierpinksi-sponge(iterations: 2, size: 450px, group-id: 0)

			total-faces = 6

			for i in 0...total-faces
				.face[data-face-id={'"%s"' % i}]
					hue = (i / total-faces) * 360
					background-color: hsl(unit(hue, deg), 80%, 50%) !important