
@import "stylus-platonic/dev/dev"
@import "stylus-platonic"

.platonic-viewport

    .scene

        .ui-component
        
            &.grid
                grid()

            &.display-axis
                display-axis(component-id: 1)
                z-index: 2

        .mesh

            &.dodecahedron
                dodecahedron(translate-z: -150px, mesh-id: 0, color: hsl(0deg, 80%, 50%))

            &.icosahedron
                icosahedron(translate-z: 150px, mesh-id: 1, color: hsl(90deg, 80%, 50%))

            &.octahedron
                octahedron(translate-x: -150px, mesh-id: 2, color: hsl(180deg, 80%, 50%))

            &.tetrahedron
                tetrahedron(translate-x: 150px, mesh-id: 3, color: hsl(270deg, 80%, 50%))