
@import "stylus-platonic/dev/dev"
@import "stylus-platonic"

.platonic-viewport

    .scene

        .ui-component.grid
            grid(component-id: 0)

        .mesh

            &.plane
                plane(translate-x: 150px, mesh-id: 0, color: hsl(0deg, 80%, 50%))

            &.cube
                cube(translate-x: -150px, mesh-id: 1, color: hsl(90deg, 80%, 50%))

            &.pyramid
                pyramid(mesh-id: 2, color: hsl(180deg, 80%, 50%))